@use "./colors" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  // background-color: #333;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.orange-color {
  color: $mainColor;
}

.navbar-brand {
  font-size: 2.2rem;
  text-transform: uppercase;
}

.nav-link,
.navbar-toogler-icon {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.navbar-toogler {
  padding: 1em 2em;
}

.home {
  position: relative;
  height: 60rem;
  z-index: 0;
  background-image: url("../img/panama-city-small.jpg");
  background-size: cover;
  background-position: center;
}

.home .btn {
  padding: 1em 2em;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.home .welcome-text {
  font-size: 1.4em;
}

.aboutus-box h3 {
  font-style: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.aboutus-icon {
  font-size: 4rem;
}

.accordion-button {
  padding: 1em;
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .home {
    background-image: url("../img/panama-city-big.jpg");
  }

  .home .welcome-text {
    font-size: 2.2em;
  }
}
